body { background-color: lightblue; }
footer { text-align: center; font-size: 1.4rem; text-decoration: none; }
footer a { color: #520000; font-weight: bold; }
footer a:focus, footer a:hover { text-decoration: none; }